<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>GET 결과</title>
</head>
<body>
  <h1>GET 요청 결과 페이지</h1>
  <p><strong>값 1:</strong> <%= v1 %></p>
  <p><strong>값 2:</strong> <%= v2 %></p>
</body>
</html>