<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>GET 요청 실습</title>
</head>
<body>
    <form action="/search" method="GET">
        <label>
            값 1 <input type="text" name="value1">
        </label>
        <br>
        <label>
            값 2 <input type="text" name="value2">
        </label>
        <br>
        <button type="submit">검색</button>
    </form>
</body>
</html>